<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="footer" th:fragment="footer">
		<div style="color: white;" class="card text-center bg-dark">
			<div class="card-header">Testeo Web</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural
					lead-in to additional content.</p>
				<a href="#" class="btn btn-success">Acceder</a>
			</div>
			<div class="card-footer text-muted">2020</div>
		</div>s
	</div>
</body>
</html>