<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="header" th:fragment="header">
<nav
class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Testeo Web</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false"
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item"><a class="nav-link" th:href="@{/home}">Home
<span class="sr-only">(current)</span>
</a></li>
<li class="nav-item"><a class="nav-link" href="usuarioForm">Usuarios</a></li>
<li class="nav-item"><a class="nav-link" href="barrioForm">Barrios</a></li>
<li class="nav-item"><a class="nav-link" th:href="registroTesteoForm">Registro Testeo</a></li>
<li class="nav-item"><a class="nav-link" th:href="personaTesteadaForm">Consulta</a></li>
</ul>
<a th:href="@{/login}" class="btn btn-danger">Salir</a>

</div>
</nav>
</div>

</body>
</html>